/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
/* common css */
/* nav start */
.nav{
    background-color: rgba(72, 63, 155, 0.7);
    /* position: absolute; */
    width: 100%;
}
.nav .nav-item .nav-link{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #EFF4FA;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 20px;
    padding-right: 20px;
}


/* nav end */